@model ProjetoEscala.Models.Aviso
@using Microsoft.AspNetCore.Http;


<form asp-action="Create">
    <div class="form-horizontal">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" asp-for="EscalaId" value="@Context.Session.GetInt32("Escala_Mes")"/>

        <div class="form-group">
            <label asp-for="Mensagem" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Mensagem" class="form-control" />
            </div>
        </div>                
      
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Lista de Aviso</a>
</div>

