@model IEnumerable<ProjetoEscala.Models.Aviso>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">+ Novo</a>
</p>
<table class="table table-sm">
    <thead>
        <tr>
            <th>
                Escala
            </th>
            <th>
                Mensagem
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EscalaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mensagem)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
