@model ProjetoEscala.Models.Pessoa


<form asp-action="Edit">
    <div class="form-horizontal">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label asp-for="Nome" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
        </div> 

        <div class="form-group">
            <label asp-for="Ativo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Ativo" class="form-control" asp-items="Html.GetEnumSelectList<EAtivo>()">                    
                </select>
                <span asp-validation-for="Ativo" class="text-danger"></span>
            </div>
        </div> 

        <!--Lista de locais para selecionar onde a pessoa pode estar escalada-->
        <div id="listaLocal">
            @await Html.PartialAsync("_ListaLocal")
        </div>
        
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>




<div id="adicionar-local" data-url="@Url.Action("AdicionarLocal","Pessoa")">
</div>

<div id="retirar-local" data-url="@Url.Action("RetirarLocal","Pessoa")">
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
