@model ProjetoEscala.Models.Quadro

@{
    ViewData["Title"] = "Edit";
}

<form asp-action="Edit">
    <div class="form-horizontal">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="EscalaId" />        

        <div class="form-group">
            <label class="col-md-2 control-label">Data</label>
            <div class="col-md-3">                
                <input type="date" asp-for="Data" class="form-control"/>
            </div>
        </div> 

        <div class="form-group">
            <label class="col-md-2 control-label">Evento</label>
            <div class="col-md-3">                
                <select asp-for="EventoId" class="form-control">
                    @foreach (var item in ViewBag.Evento){                                              
                        <option value="@item.Id">@item.Nome</option>
                    }                                         
                </select>  
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
