

<form asp-action="Create">
    <div class="form-horizontal">
        
        <div class="form-group">
            <label class="col-md-2 control-label">Data</label>
            <div class="col-md-3">
                <input type="date" class="form-control"/>
            </div>
        </div>

       
    </div>
</form>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

